Source: flands
Section: games
Priority: optional
Maintainer: Andoni del olmo <andoni.delolmo@gmail.com>
Build-Depends: debhelper (>= 9), devscripts, default-jdk-headless
Standards-Version: 4.3.0
Homepage: https://github.com/adelolmo/heroscribe

Package: flands
Architecture: all
Priority: optional
Section: java
Depends: ${misc:Depends}, default-jre-headless
Description: An adaptation of the Fabled Lands gamebook series
 The Fabled Lands – a vast world of unlimited adventure, full of strange places,
 curious creatures and exotic cultures. There are no limits or linearity and you
 may choose to follow any of the hundreds of quests – some short, some long – or
 simply explore the world, trading goods from port to port.
