#!/usr/bin/make -f

export DH_VERBOSE=1

DESTDIR=debian/flands
TARGETDIR=/usr/share/flands
JAR=flands.jar

%:
	dh $@

override_dh_strip_nondeterminism:
	true

override_dh_clean:
	dh_clean
	rm -f flands/*.class flands/resources/*.class book*.zip

override_dh_auto_build:
	javac flands/*.*
	jar cfm0 flands.jar MANIFEST.MF flands/*.class flands/resources/*.class flands/resources/*.properties
	for i in 1 2 3 4 5 6; do zip -j book$$i.zip book$$i/*; done

override_dh_install:
	dh_install
	for i in 1 2 3 4 5 6; do \
		install -Dm644 book$$i.zip $(DESTDIR)$(TARGETDIR)/book$$i.zip; \
		install -Dm644 illus$$i.zip $(DESTDIR)$(TARGETDIR)/illus$$i.zip; \
	done

	mv $(DESTDIR)/var/lib/flands/original.user.ini $(DESTDIR)/var/lib/flands/user.ini
	echo "SaveDir=/var/lib/flands/savegames" >> $(DESTDIR)/var/lib/flands/user.ini
	mv $(DESTDIR)$(TARGETDIR)/zipbooks.ini $(DESTDIR)$(TARGETDIR)/books.ini
	mv $(DESTDIR)/usr/bin/flands.sh $(DESTDIR)/usr/bin/flands
