#!/usr/bin/make -f

export DH_VERBOSE=1

DESTDIR=debian/flands
TARGETDIR=/usr/share/flands

%:
	dh $@

override_dh_install:
	dh_install
	mv $(DESTDIR)/var/lib/flands/original.user.ini $(DESTDIR)/var/lib/flands/user.ini
	echo "SaveDir=/var/lib/flands/savegames" >> $(DESTDIR)/var/lib/flands/user.ini
	mv $(DESTDIR)$(TARGETDIR)/zipbooks.ini $(DESTDIR)$(TARGETDIR)/books.ini
	mv $(DESTDIR)/usr/bin/flands.sh $(DESTDIR)/usr/bin/flands
